@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

.footerinteicon{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 10vh;
    gap: 50px;
    font-size: xx-large;
    color: white;
    opacity: 0.7;
}
.next{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

#img3{
    height: 140px;
}

.sub{
    bottom: 0.75em;
}